.airport-delay-trend-chart {
  width: 100%;
  height: 220px;
  position: relative;
  background-color: white;
  border-radius: 8px;
  overflow: visible;
  margin-bottom: 10px;
}

.airport-delay-trend-chart svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.airport-delay-trend-chart .axis text {
  font-size: 10px;
  fill: #666;
}

.airport-delay-trend-chart .axis path {
  stroke: #ccc;
}

.airport-delay-trend-chart .axis line {
  stroke: #ccc;
}

.airport-delay-trend-chart circle:hover {
  cursor: pointer;
  stroke: #000;
  stroke-width: 1px;
} 